[Desktop Entry]
Type=Application
TryExec=/home/scotthal/.local/bin/alacritty
Exec=/home/scotthal/.local/bin/alacritty
Icon=/home/scotthal/.local/share/pixmaps/alacritty-term.svg
Terminal=false
Categories=System;TerminalEmulator;

Name=Alacritty
GenericName=Terminal
Comment=A fast, cross-platform, OpenGL terminal emulator
StartupNotify=true
StartupWMClass=Alacritty
Actions=New;

[Desktop Action New]
Name=New Terminal
Exec=/home/scotthal/.local/bin/alacritty
