[Desktop Entry]
Version=1.0
Type=Application
Name=Idea
Comment=
Exec=/snap/bin/intellij-idea-community
Icon=/snap/intellij-idea-community/current/bin/idea.png
Path=
Terminal=false
StartupNotify=false
